
<style>
    .success { 
        width:500px;
        margin: auto;
        display: block;
        border-radius: 4px;
        text-align: center;
        margin-top:5%;
    }
    .success h3 {
        margin-top: 0;
        font-weight: 500;
        color:green;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
    } 
    .success button {
        width: 150px;
        height: 45px;
        background-color:#0ADEA4;
        border-radius: 30px;
        border:0;
        font-size: 16px;
        margin-top:25px;
        color:#000;
        cursor: pointer;
        margin: auto;
    }
    .success button a {
        text-decoration: none;
        color:#fff;
    }
</style>
<body>
    <div class="success">
        <h3>You have successfully reseted the password, Please login with your new password</h3>
        <button><a href="http://localhost:4200/staff-login">Login</a></button>
    </div>
   
</body>
